*,
*::before,
*::after {
    /*changes how padding is calculated, makes calculation within a width instead of adding onto the total width. (Makes everything easier)*/
    box-sizing: border-box;
}

/* Custom Properties---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

:root {
    /*font family*/
    --ff-primary: 'Lora', serif ;
    --ff-secondary: 'Roboto Slab', serif;

    /*font weight*/
    -fw-reg: 400;
    --fw-bold: 700;

    /*colour*/
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    /*font size*/
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /*box shadow (right, bottom, blur)*/
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
          /*smaller layer shadow to make shadow more realistic*/
          0.125em 0.125em 0.15em rgba(0,0,0,.15);
}

@media (min-width: 768px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

html {
    /*for smooth scrolling, when redirected to different parts of the page via ie: a button*/
    scroll-behavior: smooth;

    /* Fit to Screen */
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Body */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;

    /* Fit to Screen */
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*paddings on the top & bottom, right & left to keep elements from touching the sides of the screen */
section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

video {
    display: block;
    max-width: 100%;
}

/*specifies "strong" in html file, ie: Hi, I am <strong>Andy Jung</strong> in section__title--intro*/
strong{ font-weight: var(--fw-bold) }

/*When user presses tab, and the focus is on an element, highlight it with a solid border*/
:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    /*for when we hover over the button, set transition between its states for the transformation*/
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    /*makes button bigger when cursor hovers over it*/
    transform: scale(1.1);
}

/* Typography----------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Header specifications */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--fs-h1) }
h2{ font-size: var(--fs-h2) }
h3{ font-size: var(--fs-h3) }

/* Intro */

.section__title {
    /*use "em" for titles, as it is relative to the font size*/
    margin-bottom: .25em
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    /*(compound selector) makes strong characters for section__title--intro on its own line, by utilizing display: block*/
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Header Layout-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

/* Navigation Layout and Settings--------------------------------------------------------------------------------------------------------------------------------------------------- */

.nav {
    /*set navigation page properties*/
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    /*initially set navigation page to be hidden (translated 100% to the right)*/
    transform: translateX(100%);
    /*set transition settings, for when the navigation is clicked*/
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    /* Makes navigation fill the whole screen, when activated */
    transform: translateX(0);
}

.nav-open .nav-toggle {
    /*initially, we do not want the nav to scroll with the site. Once the user is on the nav page, we then fix it so the hamburger is visible, even if the page is scrolled*/
    position: fixed;
}

.nav-open .hamburger {
    /*rotate hamburger when clicked on, for style*/
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    /*turns hamburger into an X when navigation page opens*/
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    /*make hamburger disappear when the navigation page is closed*/
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }


/* Intro section Layout------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;

        /*keeps media centered*/
        width: min-content;
        margin: 0 auto;

        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        /*picture min-content, text max-content*/
        grid-template-columns: min-content max-content;
    }

    /*class defined in html (img/dev_andy_profile.jpg)*/
    .intro__img {
        grid-area: img;
        min-width: 250px;
        /*keeps img over the subtitle box*/
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        /*keeps subtitle box from stretching on its y-axis on different resolutions*/
        align-self: start;
        /*forces subtitle box to stretch all the way across the intro media*/
        grid-column: -1 / 1;
        /*force elements to overlap*/
        grid-row: 2;
        /*align text to the right, so it is not hidden under .intro__img*/
        text-align: right;
        /*we can use absolute positioning as well, specifying left: -1.5em and right: 0em*/
        position: relative;
        /*makes subtitle box stick out of .intro__img to the left*/
        left: -1.5em;
        /*readjust right side to stretch all the way across intro media*/
        width: calc(100% + 1.5em);
    }
}


/* My Services Layout--------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.my-services {
    /*if background fails, it will be set as the background color specified, so the text will be readable*/
    background-color: var(--clr-dark);
    background-image: url(../img/whatidobackground.jpg);
    /*prevent repeating itself*/
    background-size: cover;
    /*darken background image*/
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    /*Creating a fine white line under the title*/
    /*pseudo-elements require a content for it to show up*/
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    /*we can set the color to currentColor if we want to match the .section__title--services color*/
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0auto;
}

@media (min-width: 768px) {
    .services {
        /*Makes paragraphs into side by side columns, rather than above and below one another in bigger screens*/
        /*
        display: flex;
        width: 100%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;*/
        display: grid;
        grid-auto-flow: column;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* About Me Layout--------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        /*1fr aligns media elements to the far right*/
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Work Layout--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.my-work{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    /*(# of columns, alignment of photos) ie: (3, 1fr) however, if we use auto-fit as the first parameter, we must use minmax on the second parameter*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    background: var(--clr-accent);
    /*keeps enlarging images on hover from going outside of its dimensions*/
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

/*'tab' highlights will be on top of the image consistently. We must do this on the grid, rather than the image, as the image is a content within the portfolio item*/
.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: .75;
}

@media (max-width: 300px) {
    .portfolio {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* Footer Layout---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    /*removes bulletin points*/
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    /*the default padding keeps things off-centered*/
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    /*for instance, when clicking with fingers, the padding allows more lenient space to be clicked on around the link icon*/
    padding: .5em;
    font-size: 3rem;
}

.portfolio-page-main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.portfolio-item-individual {
    padding:  0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.portfolio-item-individual video {
    margin: 2rem auto;
}

.portfolio-video-description {
    margin: 2rem auto;
    font-style: italic;
    font-weight: 100;
    font-size: 1rem;
}

.portfolio-item-img {
    align-items: center;
    margin: 2rem 2rem;
}

.portfolio-img-description {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 100;
    font-size: 1rem;
}